<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="clicher.Save" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="clicher.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <clicher.Save>
            <setting name="lblAfisajCurrentDMG" serializeAs="String">
                <value />
            </setting>
            <setting name="lblUpgradePrice" serializeAs="String">
                <value />
            </setting>
            <setting name="lblAfisareDPS" serializeAs="String">
                <value />
            </setting>
            <setting name="lblAfisareDMGperclick" serializeAs="String">
                <value />
            </setting>
            <setting name="lblPriceDPS" serializeAs="String">
                <value />
            </setting>
        </clicher.Save>
        <clicher.Settings1>
            <setting name="bani" serializeAs="String">
                <value />
            </setting>
            <setting name="upgrade_price" serializeAs="String">
                <value />
            </setting>
            <setting name="upgrade_price_dps" serializeAs="String">
                <value />
            </setting>
        </clicher.Settings1>
    </userSettings>
</configuration>